.container {
  display: flex;
  flex-direction: column;  
  flex-wrap: wrap;

}
.container_nav_search{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 4px
}

.container_cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.first_order{
  margin-left: 60px;
}

select {
  width: 14%;
  max-width: 190px;
  background: rgba(255, 255, 255, 0.322);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 5px 20px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}

select option {
  color: black;
  background-color: rgb(255, 255, 255);
}

.container_gifs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  animation:  move-up 5s forwards ; 
  pointer-events: none;

}

@keyframes move-up {
  from {
    transform: translateY(+75%); /* Posición inicial */
  }
  to {
    transform: translateY(-25%); /* Posición final, traslada hacia arriba el 50% de la altura del contenedor */
  }
}

.charizard {
  height: 90vh;
  margin-bottom: -70px;
}

.loading {
  height: 30vh;
  margin-right: 100px;
}

.no_pokemons {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.no_pokemons h3 {
  color: white;
  text-shadow: 1px 1px 5px black;

}
