.container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background: linear-gradient(to bottom, #F05D59 95%, #41A2F0 ) ;
    padding: 2px 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    
}
.image {
    height: 4em;
   
}
.form {
    height: 4em;
}